* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    max-width: 1280px;
    margin: auto;
}

.header {
    background-color: pink;
    height: 150px;
    margin-bottom: 20px;
    }

.container {
        background-color: blue;
    }


.firstbody {
    background-color: #cfba83;
    height: 500px;
    margin-bottom: 20px;
}

.rettangolo {
    height: 100px;
    background-color: lightblue;
    margin-bottom: 20px ;

}
.col-left {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(30% - 20px);
    margin-right: 20px;

}

.col-middle {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(40% - 40px);
    margin-right: 20px;
    margin-left: 20px;

}

.col-right {
    background-color: lightblue;
    float: left;
    height: 500px;
    width: calc(30% - 20px);
    margin-left: 20px;
    
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.footer {
    background-color: violet;
    height: 150px;
    margin-top: 20px;

}

